#menu {
    background-color: rgb(0, 0, 0);
        height: 88px;
        

    text-decoration: none;
}

form{
    float: left;
    margin-top: 35px;
    margin-right: 15px;
    text-align: right;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
}

.search[type="search"]{

    font-size: 17px;
}
.search{
    height: 40px;
    width: 300px;
    border: 3px solid rgb(117, 117, 117);
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: 35px;
    margin-left: 1020px;
}


.lien:hover{
        
    color: rgb(122, 122, 122);
}

.lien {
    float: left;
    padding: 0px;
    margin: 35px;

    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;

    text-decoration: none;
}

header nav a img{
    height: auto;
    width: auto;
    margin-top: -35px;
    padding-left: 0px;
}

#loupe {
    float: left;
    position: static;
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 470px;
    margin-bottom: 0px;
}

#favori {
    float: left;
    position: static;
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 350px;
    margin-bottom: 0px;
}

#panier {
    float: right;
    position: static;
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-right: 130px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.search:focus{
    outline: 0;
}

