.pied {
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}

#piedgauche {
    margin-left: 290px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: groove;
    margin-top: 50px;
}

#pieddroit {
    margin-right: 200px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: groove;
}

#piedcentre {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: groove;
}

#piedfond {
    background-color: rgb(235, 235, 235);
}

#piedréseaux {
    background-color: rgb(235, 235, 235);
    width: 1904px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p :hover{
    opacity: 0.6;
}

footer {
    background-color: rgb(235, 235, 235);
}

h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #18272F ;
}

footer a {
    color: #18272F;
  position: relative;
  text-decoration: none;
}

footer a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


