
html{
    background-color: rgb(255, 255, 255);
}

p{
color: white;
}

h1{
color: white;
}

h2{
color: white;
}


.Ajouter {
  color: rgb(0, 0, 0); /* the color of the text*/
  --c:  rgb(122, 122, 122); /* the color*/
  
  box-shadow: 0 0 0 .2em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.Ajouter:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.Ajouter:active {
  box-shadow: 0 0 9e9q inset rgb(122, 122, 122); 
  background-color: var(--c);
  color: #ffffff;
}

.Ajouter {
    font-family: system-ui, sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

  section {
    background-color: rgb(235, 233, 233);
    padding-top: 1px;
  }

  p {
    color: black;
  }

 